<h1>{{title}}</h1>
<input type="number" [(ngModel)]="airlineId">
<button (click)="fetchAirById(airlineId)">Add Airline Id</button>
<button (click)="addAirline()">Add Airline</button>
<button (click)="fetchAir()">Fetch Airlines</button>
<p class="message">id of passengers for testing: 602e4361822376ee664e937c, 602e4b4f8223764e694e9389, 602e54f8822376b4fe4e938c, 60334af2331d52e7e17257b6, 603365af4b0d3358eb4a5b98, 60360176cb8aca68b76445c9</p>
<hr>
<!-- <input type="string" [(ngModel)]="passengersId"> -->
<!-- <button (click)="addPassengerById(passengersId)">Add Passenger</button> -->
<div class="container">

  <div *ngFor="let air of (airlineState$ | async)?.airlines" class="card" >
    <h3>{{air.name}}</h3>
    <img src="{{air.logo}}" alt="logo" width="150">
    <p>{{air.slogan}}</p>
    <a href="{{air.website}}">{{air.website}}</a>
    <p>{{air.country}}</p>
  </div>

  <!-- <div class="pass-card" *ngFor="let pass of passengers">
    <p><i>Passenger id: {{pass._id}}</i></p>
    <h3>Passenger name: {{pass.name}}</h3>
    <p>Passenger trips: {{pass.trips}}</p>
    <div *ngFor="let air of pass.airline" class="card" >
      <h3>{{air.name}}</h3>
      <img src="{{air.logo}}" alt="logo" width="150">
      <p>{{air.slogan}}</p>
      <a href="{{air.website}}">{{air.website}}</a>
      <p>{{air.country}}</p>
    </div>

    <button (click)="uppdatePassenger(pass)">Uppdate Passenger</button>
    <button (click)="deletePassenger(pass)">Delete Passenger</button>
    <button (click)="uppdatePassengerPut(pass)">Uppdate Put Passenger</button>
  </div>

</div> -->
<!-- <div class="loader" *ngIf="indicator.loading">
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div> -->

